#navContainer {
    padding-right: 0;
    margin-right: 0;
}

#pictureHead {
    background: url("../images/mediumHeader.jpg") center;
    height: 300px;
}

#headerContainer {
     background: none;
 }

#changeLog {
    width: 0;
    height: 0;
    display: none;
}

.container {
    width: 90%;
}

#contentContainer, #changeContainer {
    width: 90%;
    margin-left: 5%;
}

.contentHead {
    font-size: 23px;
}

.contentBody {
    font-size: 17px;
}

#dbNav {
    font-size: smaller;
}

#submitSpacing {
    display: none;
}

#sqlFormDiv {
    width: 175px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#sqlFieldset {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#sqlFieldset label {
    text-align: left;
}

#submitSpacing {
    display: none;
}

#submissionResults {
    margin-left: 5px;
}