#minMaxForm {
    float: left;
}

#calcDivContainer {
    margin-left: -40px;
    height: 36px;
    width: 290px;
    padding-left: 10px;
}

#divMaxMinCalc {
    margin-top: 10px;
    width: 260px;
    height: 150px;
    margin-left: 50px;
}

#divAnswerMin {
    text-decoration: underline;
    overflow: hidden;
    height: 18px;
}

#divAnswerMax {
    text-decoration: overline;
    overflow: hidden;
    height: 18px;
}

#minMax {
    float: left;
}

.answer {
    width: auto;
    border: none;
    height: 15px;
    text-align: center;
}